@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&family=Montserrat:wght@400;700&family=Oswald:wght@400;600&family=Poppins:wght@200;300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    box-sizing: border-box;
}

.container {
    position: relative;
    min-height: 100vh;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 33px 20px;
}

.container .search-box {
    position: relative;
    height: 48px;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 35px;
}

.search-box input {
    position: absolute;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 15px 0 45px;
    background-color: rgb(243, 232, 82);
    color: #fff;
    border-radius: 7px;
}

.search-box i {
    position: absolute;
    z-index: 2;
    color: #fff;
    top: 30%;
    left: 15px;
    font-size: 20px;
    transform: translateY(-10%);
}

.container .images .image-box {
    position: relative;
    height: 300px;
    width: 350px;
    border-radius: 7px;
    overflow: hidden;
}

.images {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.images .image-box {
    margin: 10px;
}

.images .image-box img {
    height: 100%;
    width: 100%;
    border-radius: 7px;
    transition: transform 6s linear;
}

.image-box:hover img {
    transform: scale(5);
}

.image-box h6 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
}